################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BunnyCDN.Net.Storage/.vs/BunnyCDN.Net.Storage
