################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


### DotnetCore ###
# .NET Core build folders
bin/
obj/
.vs/